*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #ffd6e8,
        #ffe8f3
    );

    font-family:Arial, sans-serif;
}

.container{
    text-align:center;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

h1{
    color:#ff4d88;
    margin-bottom:15px;
}

input{
    padding:12px;
    width:220px;
    border:2px solid pink;
    border-radius:10px;
    margin-top:15px;
}

button{
    margin-top:15px;
    padding:12px 25px;

    border:none;
    border-radius:10px;

    background:#ff4d88;
    color:white;

    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}

#message{
    margin-top:15px;
}

.heart{
    position:absolute;
    font-size:30px;

    animation: burst 2.5s forwards;
}

@keyframes burst{

    from{
        transform:translate(0,0) scale(0);
        opacity:1;
    }

    to{
        transform:
        translate(var(--x),var(--y))
        scale(2);

        opacity:0;
    }
}